body {
    background-color: #E8EBE6;
}

.header {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #518984;
}

.caption {
    text-align: center;
    font-size: 14px;
    color: #518984;
}

.painting img {
    width: 100%;
}

.description {
    text-align: center;
    font-size: 14px;
    line-height: 0;
    color: #518984;
}

.explainaton {
    text-align: center;
    font-size: 18px;
    color: #518984;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #518984;
}