.header {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.caption {
    text-align: center;
    font-size: 14px;
}

.painting img {
    width: 100%;
}

.description {
    text-align: center;
    font-size: 14px;
    line-height: 0;
}

.explainaton {
    text-align: center;
    font-size: 18px;
}

.footer {
    text-align: center;
    font-size: 12px;
}